<h1 align="center">Log in </h1>
 <%= form_for :session  , url: login_path do |f| %>
            <div class="form-group">
                <label for="Exampletitle">Email</label>

                <%= f.email_field :email , class: "form-control" , placeholder: "Enter Email" , autofocus: true , id: "Exampletitle" %>

            </div>

            <div class="form-group">

                <label for="Exampledescription">Password</label>
                <%= f.password_field :password ,class: "form-control" ,autocomplete: "off" %><br />
            </div>
            <div class="form-group">
	              <%= f.submit "Log in" , class: "btn btn-primary btn-lg" %>
            </div>
        <% end %>
<div class="col-xs-4 col-xs-offset-4">
    [ <%= link_to "Cancel request  and return to articles listing" , articles_path %> ]
</div>