
<% obj.each do |article| %>
    <div class="row">
        <div class="col-5 offset-md-3">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="article-title">
                    <%= link_to  article.title , article_path(article) %>
                </div>
                <div class="article-body">
	 	                <%= truncate(article.description , length: 100 ) %>
                    <div class="article-meta-details">
                    <small>Created by: <%= article.user.username if article.user %>,
                        <%= time_ago_in_words(article.created_at) %> ago,
                        last updated: <%= time_ago_in_words(article.updated_at) %> ago </small>



                    </div>
                </div>
                <div class="article-actions">
                    <%= link_to "Edit this article" , edit_article_path(article),class: "btn btn-sm btn-primary" %>
                    <%= link_to "Delete this article" , article_path(article), method: :delete , data:{confirm: "Are you sure you want to delete?"} , class: "btn btn-sm btn-danger" %>

                </div>
            </div>
        </div>
    </div>


<% end %>

