<%= render "/shared/errors" , obj: @article %>

<div class="container">
          <div class="col-xs-12">



<%= form_for @article  do |f| %>
    <div class="form-group">
        <label for="Exampletitle">Title</label>

            <%= f.text_field :title , class: "form-control" , placeholder: "Title of article" , autofocus: true , id: "Exampletitle" %>

    </div>

    <div class="form-group">

    <label for="Exampledescription">Description</label>
    <%= f.text_area :description ,rows: 10, class: "form-control" , placeholder: "Description of article" , autofocus: true , id: "Exampledescription" %><br />
    </div>
    <div class="form-group">
	      <%= f.submit  class: "btn btn-primary btn-lg" %>
    </div>
<% end %>
          </div>
</div>
<div class="col-xs-4 col-xs-offset-4">
[ <%= link_to "Cancel request  and return to articles listing" , articles_path %> ]
</div>
