
<h2 align="center"> Title: <%= @article.title %></h2>
<div class="row">
    <div class="alert alert-secondary col-sm-8 offset-md-3">
        <% if @article.user %>
    <ul class="listing">
        <div class="row justify-content-center" align="center">
            <div class= "col-md-4 col-md-offset-4 ">
                <li>Created_by: </li>
                <li> <%= link_to gravatar_for(@article.user) , user_path(@article.user) %></li>
                <li class="article-title">
                    <%= link_to @article.user.username ,user_path(@article.user) %>
                </li>
                <li><small><%= pluralize(@article.user.articles.count , "article") if @article.user.articles %></small></li>
            </div>
        </div>
    </ul>
    <% end %>
    <h4 class="center descriptions"><strong>Description:</strong></h4>
    <hr>

    <%= simple_format(@article.description) %>
    <div class="article-actions">
        <%= link_to "Edit this article" , edit_article_path(@article),class: "btn btn-sm btn-primary" %>
        <%= link_to "Delete this article" , article_path(@article), method: :delete , data:{confirm: "Are you sure you want to delete?"} , class: "btn btn-sm btn-danger" %>
        <%= link_to "View all article" , articles_path , class: "btn btn-sm btn-success" %>

</div>
</div>
</div>
