<%= render "/shared/errors" , obj: @user %>


<div class="container">
    <div class="col-xs-12">



        <%= form_for @user  do |f| %>
            <div class="form-group">
                <label for="Exampletitle">Username</label>

                <%= f.text_field :username , class: "form-control" , placeholder: "Enter username" , autofocus: true , id: "Exampletitle" %>

            </div>

            <div class="form-group">

                <label for="Exampledescription">Email</label>
                <%= f.email_field :email ,class: "form-control" , placeholder: "asdf@example.com" , autofocus: true , id: "Exampledescription" %><br />
            </div>
            <div class="form-group">

                <label for="Exampledescription">password</label>
                <%= f.password_field :password , class: "form-control" , placeholder: "Enter password" , autofocus: true , id: "Exampledescription" %><br />
            </div>

            <div class="form-group">
	              <%= f.submit(@user.new_record? ? "Sign up" : "Update your account",class: "btn btn-primary btn-lg") %>
            </div>
        <% end %>
    </div>
</div>
<div class="col-xs-4 col-xs-offset-4">
    [ <%= link_to "Cancel request  and return to articles listing" , articles_path %> ]
</div>
