<h1 align="center"> Welcome to <small> <%= @user.username %>'s</small> page </h1>
<div class ="row justify-content-center">
    <div class = "col-md-4 col-md-offset-4 center">
        <%= gravatar_for @user , size: 150 %>
        <small align="center"><%= @user.username %>'s artilces </small>
       



    </div>
</div>
<div class="center">
    <%= will_paginate @user_articles %>
</div>
     <%= render 'articles/article' , obj: @user_articles %>
<div class="center">
    <%= will_paginate @user_articles %>
</div>






