
<% if obj.errors.any? %>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <%= pluralize(obj.errors.count , "Error") %>
                        prohibited this article form being saved:
                    </h2>
                    <div class="panel-body">
                        <ul>
                            <% obj.errors.full_messages.each do |msg| %>
                                <li> <%= msg %> </li>

                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% end %>

