
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "bootstrap";

#logo{
	float: left;
	font-size:1.7em;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;

}
.mrgn{
	margin-top : 10%;
}
.center{
	text-align: center;
}

.jumbotron{
	background-image: asset-url('cover_new.jpg');
	background-size: cover;
	height: 500px;
	border-radius: 10px;
}
.jumbotron h1{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
.btn-xlarge{
	font-size: 1.7em;
	background-color: black;
	border: none

}
.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;


}
footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a:hover{
	color: #222;

}

footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}
.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;

}
footer ul li{
	float: left;
	margin-left: 15px;
}

.htn{
    margin-top: 10px;
    font-family: "Fredoka One" , cursive;
}
.descriptions{
    margin-top: 0px;

}
.article-title{
    font-weight: bold;
    font-size: 1.5em;


}

.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;



}
.listing{
    list-style: none;
    padding-left: 0px;
    
}
.align-right{
	float: right;
	margin-left: 900px;
}
