<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy: <a href="https://www.udemy.com" > The Complate Ruby on Rails Developer</a>
			by <a href="http://www.payman-kazemi.com">Payman kazmei</a>
		</small>
		<nav>
			<ul>
				<li> <%= link_to "About" , about_path %></li>
			</ul>
		</nav>
	</footer>


</div>