<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    
      <li class="nav-item active">
        <%= link_to "Home" , root_path , class: "nav-link"%>
      </li>
      <% if logged_in? %>
     <li class="nav-item">
        <%= link_to "Log out" , logout_path ,method: :delete, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Articles" , articles_path , class: "nav-link" %>
      </li>
      <% else %>
      

       <li class="nav-item">
        <%= link_to "Log in" , login_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up" , signup_path , class: "nav-link" %>
      </li>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>